<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>MeuServlet</servlet-name>
    <servlet-class>br.ufg.inf.pwv0114.MeuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>br.ufg.inf.pwv0114.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeuServlet</servlet-name>
    <url-pattern>/meu-servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu-servlet</url-pattern>
  </servlet-mapping>
</web-app>